

<html>
<head>
    <style>
      body {
        background: gold;
        text-align: center;
        margin-top: 10rem;
      }
      p,h1 {
        color: black;
      }
    </style>
  </head>
<body>

<h1>Your message encrypted is </h1>

<p><%=@answer%></p>   

  </body>
  </html>
